
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<!--
    > : Elementin alt elementini oluşturuyoruz.
    + : Aynı seviyede eleman oluşturmak için kullanılıyor.
    . : Classlara verilen kısa yol
    # : Id lere verilen kısa yol
    []: Elementin attribute larını eklemek için kullanılıyor.
    * : Elementin kaç kere tekrar edeceğini belirtmek için kullanılıyoruz.
    $ : Artan şekilde index numaraları atayabilmek için
    ^ : Bir üst seviyeye çıkmak için
-->
<!--Html:5-->
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

</body>
</html>
@* input:text *@
<input type="text" value="" id="" />
@* input:number *@
<input type="number" value="" id="" />


<a href="/home/index">Degistir</a>

<a href="#">dssdsd</a>

<a href="" class="btn btn-success"></a>



@*(ul>li>p>lorem3^^^+ul>li>a)*@
@*(ul>li>p>lorem3)+(ul>li>a)*@
<ul>
    <li>
        <p>Sit amet, consectetur.</p>
    </li>
</ul>
<ul>
    <li><a href=""></a></li>
</ul>